<div class="strip_list wow fadeIn hover-shadow"
  data-item-id="<%= "#{item.id}" %>"
  data-uid="<%= "#{item.user.id}" %>">
  <div class="menu_button">
    <%= link_to "#" do %>
      <i class="icon-dot-3"></i>
    <% end %>
    <% if item.user.current_user? current_user %>
      <div class="menu_dropdown">
        <div class="dropdown-caret right-menu">
          <span class="caret-outer"></span>
          <span class="caret-inner"></span>
        </div>
        <ul>
          <% if can? :edit, item %>
            <li>
                <%= link_to  t(".edit"), edit_question_url(item) %>
            </li>
          <% end %>
          <% if can? :destroy, item %>
            <li>
              <%= link_to t(".delete"), item, method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <figure>
    <%= link_to item.user do %>
      <%= image_tag user_avatar(item.user) %>
    <% end %>
  </figure>
  <h5><%= item.user.name %></h5>
  <p class="content">
    <%= truncate item.content,
      length: Settings.question.feed_ct_len %>
    <% if item.content.length > Settings.question.feed_ct_len %>
      <%= link_to t(".view_more"), question_url(item) %>
    <% end %>
  </p>
  <small>
    <%= item.categories.map(&:name).join ", " %>
  </small>
  <ul class="menu">
    <li>
      <%= link_to "#",
        class: "btn_listing btn_show_comment",
        data: {item: item.id} do %>
        <small class="vote-inline">
          <i class="icon-comment"></i>
          <span id="count-comment-<%= item.id %>">
            <%= item.answers.count %>
          </span> <%= t ".comments" %>
        </small>
      <% end %>
    </li>
    <li>
      <% if item.liked? current_user  %>
        <%= link_to t("like.question"),
          likes_path(type: Settings.questions, target_id: item.id),
          id: "question-#{item.id}", class: "like_button liked",
          method: :delete, remote: true %>
      <% else %>
        <%= link_to t("like.question"),
          likes_path(type: Settings.questions, target_id: item.id),
          id: "question-#{item.id}", class: "like_button",
          method: :post, remote: true %>
      <% end %>
    </li>
  </ul>
  <div class="mf_main--comment"
    id="<%= "questions-item-#{item.id}" %>">
    <% item.answers.each do |answer| %>
      <%= render "comments/comment", comment: answer %>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <div class="mf_main--reply" id="question-<%= item.id %>">
      <%= form_for :comments,
        url: comments_path,
        method: :post,
        remote: true do |f| %>
        <%= image_tag user_avatar(current_user),
          class: "mf_reply--avatar" %>
        <div class="form-group mf_reply_form">
          <%= f.hidden_field :question_id, value: item.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field :content,
            class: "form-control mf_reply_field question-#{item.id}",
            placeholder: t("messages.post_comment_placeholder") %>
          <%= f.submit t(".comment"),
            class: "mf_reply_button question-#{item.id}",
            data: {id: item.id} %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
