<%= provide :title, t(".title") %>
<main>
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-3 col-md-3">
        <div class="mf_question_sidebar">
          <div class="mf_question_sidebar--header">
            <h5><%= t ".categories" %></h5>
          </div>
          <hr/>
          <div class="mf_question_sidebar--content">
            <ul class="mf_tag_list">
              <% @majors.each do |major| %>
                <li>
                  <%= link_to controller: :questions, major_id: major[1] do %>
                    <i class="icon-chat"></i><%= major[0] %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
          <hr/>
          <div class="mf_question_sidebar--footer">
            <%= link_to "#", data: {turbolinks: false}  do %>
              <small><%= t ".view_all" %></small>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-9">
        <div class="mf_main_question">
          <% if user_signed_in? %>
            <%= form_for @question do |f|%>
              <div class="form-group post-form
                fadeIn animated create_question_form">
                <%= f.text_area :content, class: "form-control auto_resize",
                  rows: "5",
                  placeholder: t("messages.post_questions_placehoder") %>
                <% @question.categories do |cate| %>
                  <%= f.hidden_field :categories,
                    multiple: true,
                    value: cate.id %>
                <% end %>
                <div class="mf_float_categories_list">
                  <small class="tag"><%= t ".categories" %>:</small>
                  <ul></ul>
                </div>
                <div class="question_form--menu">
                  <div class="option_menu">
                    <%= link_to "#", data: {turbolinks: false} do %>
                      <i class="icon-camera-2"></i>
                      <small><%= t ".attach_image" %></small>
                    <% end %>
                    <div class="mf_select_category">
                      <%= link_to "#",
                        data: {turbolinks: false},
                        class: "mf_show_options" do %>
                        <i class="icon-plus-circled-1" style=""></i>
                        <small><%= t ".categories" %></small>
                      <% end %>
                      <div class="mf_category_options animated fadeIn faster">
                        <div class="dropdown-caret right">
                          <span class="caret-outer"></span>
                          <span class="caret-inner"></span>
                        </div>
                        <div class="mf_category_list">
                          <ul>
                            <% @majors.each do |major| %>
                              <li>
                                <%= link_to truncate(major[0],
                                  length: Settings.question.cate_len),"#",
                                  data: {id: major[1], added: false,
                                    name: major[0], toggle: "tooltip",
                                    placement: "top", turbolinks: false
                                  },
                                  title: major[0] %>
                              </li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="option_left_menu">
                    <%= f.submit t(".post"),
                      class: "btn_1 medium post_button" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="signup_require">
              <h5><%= t ".signup_for_post_question" %></h5>
              <%= link_to t(".signup"), new_registration_path(User), class: "btn_signup" %>
            </div>
          <% end %>
        </div>
        <div class="mf_main--question_answers">
          <% @question_feeds.each do |question| %>
            <%= render "question", item: question %>
          <% end %>
          <%= paginate @question_feeds %>
        <div>
      </div>
    </div>
  </div>
</main>
