<%= provide :title, t(".login") %>
<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login-2">
        <h1><%= t ".title" %></h1>
        <%= form_for :session, url: login_path do |f| %>
          <div class="box_form clearfix">
            <div class="box_login">
              <%= link_to t(".fb_login"), "#", class: "social_bt facebook" %>
              <%= link_to t(".gg_login"), "#", class: "social_bt google" %>
              <%= link_to t(".lk_login"), "#", class: "social_bt linkedin" %>
            </div>
            <div class="box_login last">
              <div class="form-group">
                <%= f.email_field :email,
                  class: "form-control", placeholder: t(".your_email") %>
              </div>
              <div class="form-group">
                <%= f.password_field :password,
                  class: "form-control", placeholder: t(".your_password") %>
              </div>
                <div class="form-group">
                  <%= f.label :remember_me, class: "inline" do%>
                    <%= f.check_box :remember_me %>
                    <strong><%= t ".remember" %></strong>
                  <% end %>
                  <%= link_to t(".forgot_password_html"),
                    new_password_reset_path, class: "forgot" %>
                </div>
              <div class="form-group">
                <%= f.submit t(".login"), class: "btn_1" %>
              </div>
            </div>
          </div>
        <% end %>
        <p class="text-center link_bright"><%= t ".no_account" %>
          <%= link_to t(".register_now_html"), signup_user_path %>
        </p>
      </div>
    </div>
  </div>

</main>
