<% provide :title, t("forgot_password.title") %>
<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="register">
        <h1><%= t "forgot_password.title" %></h1>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <%= form_for :password_reset, url: password_resets_path do |f| %>
              <div class="box_form">
                <div class="form-group">
                  <%= f.label :email, t("forgot_password.email") %>
                  <%= f.email_field :email, class: "form-control",
                    placeholder: t("forgot_password.your_email") %>
                </div>
                <div class="form-group text-center add_top_30">
                  <%= f.submit t("forgot_password.submit"), class: "btn_1" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
