<div class="mf_comment--answer_content">
  <%= link_to comment.user.name , comment.user %>
  <p><%= comment.content %></p>
</div>
<div class="mf_comment--answer_time">
  <small class="post_time">
    <%= time_ago_in_words comment.created_at %> <%= t ".ago" %>
  </small>
</div>
<div class="mf_comment--menu">
  <% if can? :manage, comment %>
    <%= link_to t(".edit"), edit_comment_url(comment),
      class: "mf_comment--edit comment-#{comment.id}", data: {id: comment.id},
      remote: true %>
    <%= link_to t(".delete"), "#",
      class: "mf_comment--delete comment-#{comment.id}",
      data: {id: comment.id},
      remote: true %>
  <% end %>
  <% if comment.liked? current_user %>
    <%= link_to t("like.answer"),
      likes_path(type: Settings.answer, target_id: comment.id),
      id: "answer-#{comment.id}", class: "thanked", remote: true,
      method: :delete %>
  <% else %>
    <%= link_to t("like.answer"),
      likes_path(type: Settings.answer, target_id: comment.id),
      id: "answer-#{comment.id}", remote: true, method: :post %>
  <% end %>
</div>
