<% provide :title, t("admin.doctors.title") %>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <h4><%= t "admin.doctors.title" %></h4>
          <div class="form-group search-form">
            <form id="search-doctor" class="input-group">
              <input id="search-input" type="text"
                name="search-key" class="form-control"
                value="<%= params[:search] %>">
              <div class="input-group-append">
                <button
                  type="submit" class="btn btn-primary">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th><%= t "admin.doctors.name" %></th>
                <th><%= t "admin.doctors.position" %></th>
                <th><%= t "admin.doctors.place" %></th>
                <th><%= t "admin.doctors.bio" %></th>
                <th><%= t "admin.doctors.status" %></th>
                <th><%= t "admin.doctors.action" %></th>
              </tr>
            </thead>
            <tbody>
              <% @doctors.each_with_index do |doctor, index| %>
                <tr class="doctor-item">
                  <th scope="row"><%= index %></th>
                  <th><%= doctor.name %></th>
                  <th><%= doctor.prof_position %></th>
                  <th><%= doctor.prof_place %></th>
                  <th><%= truncate doctor.bio,
                    length: Settings.admin.truncate_length %></th>
                  <th><%= doctor.status %></th>
                  <th>
                    <%= link_to admin_doctor_path(doctor) do %>
                      <button class="btn btn-primary">
                        <%= t "admin.doctors.detail" %>
                      </button>
                    <% end %>
                  </th>
                </tr>
              <% end %>
              <%= paginate @doctors, theme: "twitter-bootstrap-3" %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
