<header class="header_sticky header_shadow fixed">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="logo_home">
          <h1>
            <%= link_to Settings.global.site_title, root_path %>
          </h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <div class="main-menu">
          <ul>
            <% if user_signed_in? %>
              <li class="submenu dropdown">
                <%= link_to "#", id: "notifications", rel: "nofollow",
                  class: "nav-link noti", data: {toggle: "dropdown"},
                  aria: {haspopup: false, expanded: false} do %>
                  <i class="fa fa-bell"></i>
                  <span id="notifications-count" class="badge badge-warning">
                    <%= current_user.notifications.length %>
                  </span>
                <% end %>
                <ul id="notifications-list" aria-labelledby="notifications"
                  class="dropdown-menu noti_margin">
                  <% current_user.notifications.each do |notification| %>
                    <%= render "notifications/notification",
                      notification: notification %>
                  <% end %>
                </ul>
              <% end %>
            </li>
            <li class="submenu">
              <%= link_to questions_url do %>
                <i class="icon-question"></i><%= t "global.menu.ask_doctor" %>
              <% end %>
            </li>
          </ul>
          <div class="user_menu">
            <ul>
              <%= render "shared/user_menu" %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
