<h1><%= t "reset_mail.title" %></h1>

<p><%= t "reset_mail.click_link" %></p>

<p><%= link_to t("reset_mail.change_password"),
  edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t "reset_mail.link_expire" %></p>

<p><%= t "reset_mail.info" %></p>
