<%= provide :title, t("users.new.signup") %>
<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="register">
        <h1><%= t "users.new.title" %></h1>
        <div class="row justify-content-center">
          <div class="col-md-5">
            <%= form_for resource, as: resource_name,
              url: registration_path(resource_name) do |f| %>
              <div class="box_form">
                <div class="form-group">
                  <%= f.label :name, t("users.new.name") %>
                  <%= f.text_field :name, class: "form-control",
                    placeholder: t("users.new.your_name"), autofocus: true %>
                </div>
                <div class="form-group">
                  <%= f.label :email, t("users.new.email") %>
                  <%= f.email_field :email, class: "form-control",
                    placeholder: t("users.new.your_email"), autocomplete: "email" %>
                </div>
                <div class="form-group">
                  <%= f.label :password, t("users.new.password") %>
                  <%= f.password_field :password, class: "form-control",
                    placeholder: t("users.new.your_password"), autocomplete: "off" %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, t("users.new.password_confirm") %>
                  <%= f.password_field :password_confirmation,
                    class: "form-control", autocomplete: "off",
                    placeholder: t("users.new.password_confirm") %>
                </div>
                <div class="form-group">
                  <%= f.label :request_doctor, class: "inline" do %>
                    <%= f.check_box :request_doctor, {}, "true", "false" %>
                    <strong><%= t "users.new.request_doctor" %></strong>
                  <% end %>
                </div>
                <div class="form-group text-center add_top_30">
                  <%= f.submit t("users.new.submit"), class: "btn_1" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
